.time-slots-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  overflow: scroll;
  overflow-y: hidden;
}

.time-slots-index-item{
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-around;
  margin: 5px;
  height: 10%;
}

.form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.form-input{
  margin: 15px;
  align-self: center;
}